# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
#!pip install -U scipy

In [13]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [14]:
# Your code here:
data = pd.read_csv('../data/Salaries.csv')

/var/folders/b7/77nrfzds2c52n57v0lnp20sr0000gn/T/ipykernel_6904/1020194342.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [15]:
# Your code here:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [16]:
# Your code here:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [17]:
# Your code here
data.shape

(148654, 13)

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [18]:
# Your code here
data1 = data.copy()
data1 = data1.drop("Notes", axis=1)
data1.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [19]:
# Your code here
data1['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [20]:
# Your code here
data2 = data1.copy()
data2 = data2[data2['Status'].isna()==False ]

In [21]:
# Your code here
data2.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [25]:
# Your code here
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [26]:
# Your code here
data2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Do any type conversions and reset the index.

In [30]:
# Your code here
data2['BasePay'] = data2['BasePay'].astype('float64')
data2['OvertimePay'] = data2['OvertimePay'].astype('float64')
data2['OtherPay'] = data2['OtherPay'].astype('float64')
data2['Benefits'] = data2['Benefits'].astype('float64')

In [45]:
data3 = data2.reset_index()

In [46]:
# Your code here
data3.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [47]:
# Your code here
df = pd.Series(data3["TotalPayBenefits"] == (data3["BasePay"] 
                                             + data3["OvertimePay"] 
                                             + data3["OtherPay"] + data3["Benefits"]))
df

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [50]:
# Your code here:
df2= df.value_counts()/len(df)*100
df2

True     73.708649
False    26.291351
dtype: float64

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [73]:
# Your code here:
df3 = data3.groupby('JobTitle').agg({'EmployeeName' :['count']})
df3 = df3.rename(columns={'EmployeeName': 'Employees'}, level=0)
df3 = df3.rename(columns={'count': ' '}, level=1)

df3

                               Employees

JobTitle
ACPO,JuvP, Juv Prob (SFERS)            1
ASR Senior Office Specialist          22
ASR-Office Assistant                  15
Account Clerk                         93
Accountant I                           2
...                                  ...
Wire Rope Cable Maint Sprv             1
Worker's Comp Supervisor 1             6
Worker's Compensation Adjuster        26
X-Ray Laboratory Aide                 35
Youth Comm Advisor                     1

[996 rows x 1 columns]

                                Employees
JobTitle
ACPO,JuvP, Juv Prob (SFERS)             1
ASR Senior Office Specialist           22
ASR-Office Assistant                   15
Account Clerk                          93
Accountant I                            2
...                                   ...
Wire Rope Cable Maint Sprv              1
Worker's Comp Supervisor 1              6
Worker's Compensation Adjuster         26
X-Ray Laboratory Aide                  35
Youth Comm Advisor                      1

[996 rows x 1 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [75]:
data3.head(2)

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT

In [79]:
# Your code here: (compute the "Hourly_Wage")
data4 = data3.copy()
data4['Hourly_Wage'] = data4['TotalPayBenefits']/50/40
data4.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550

In [ ]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [87]:
data5 = data4.copy()

data5 = data5[data5['Status'] == 'FT' ]
data5['Hourly_Wage'].mean()

69.264206407271

69.264206407271

In [92]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
import scipy.stats as st
Hourly_Wage = data5['Hourly_Wage']
sample_mean = Hourly_Wage.mean()
sample_std = Hourly_Wage.std()
sample_size = len(Hourly_Wage)
Population_mean = 75

t_statistic = (sample_mean - Population_mean) /(sample_std / np.sqrt(sample_size))
t_statistic

-35.80631941460788

-35.80631941460788

In [102]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
lower_critical_value = st.t.ppf((0.05/2),df=len(Hourly_Wage)-1)
upper_critical_value = st.t.ppf(1-(0.05/2), df=len(Hourly_Wage)-1)
display("The lower critical value is {:.3f}".format(lower_critical_value))
display("The upper critical value is {:.3f}".format(upper_critical_value))

'The lower critical value is -1.960'

'The upper critical value is 1.960'

In [104]:
# Method 2: Use the p-value method.
# Your code here:
st.t.cdf(t_statistic, df=len(Hourly_Wage)-1)

2.2589156167195097e-273

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [106]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(Hourly_Wage, popmean = 75, alternative = "two-sided") 
stat, pval

(-35.80631941460526, 4.517831233839447e-273)

Are all the methods in agreement?

#### H0(the hourly wage of all FT workers is 75/hr) was rejected. ###

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [107]:
data5["JobTitle"].value_counts()

Transit Operator              1524
Firefighter                    738
Police Officer 3               642
Custodian                      565
Deputy Sheriff                 552
                              ...
Accountant I                     1
Chief Electrical Inspector       1
Feasibility Analyst, Port        1
IS Trainer-Senior                1
Mayoral Staff V                  1
Name: JobTitle, Length: 916, dtype: int64

In [110]:
data6 = data4.copy()
police_df = data6[data6['JobTitle'].apply(lambda x: 'Police' in x)]
police_df.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610
86,110617,110618,Jay K Dowke,Police Officer 3,100148.75,15716.42,152037.57,33847.07,267902.74,301749.81,2014,San Francisco,PT,150.874905
143,110674,110675,Sam W Yuen,Police Officer 2,116584.02,115346.62,18834.23,38350.08,250764.87,289114.95,2014,San Francisco,FT,144.557475
181,110712,110713,Malcolm S Fong,Police Officer 3,118898.14,109310.13,12557.94,39456.55,240766.21,280222.76,2014,San Francisco,FT,140.111380
300,110831,110832,Murray P Daggs,Police Officer 3,118898.13,98583.98,10919.81,38833.08,228401.92,267235.00,2014,San Francisco,FT,133.617500

In [113]:
police_df.describe()

,index,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Hourly_Wage
count,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.000000,1901.0,1901.000000
mean,120948.338243,120949.338243,93872.060295,14036.861820,8082.794245,32357.325765,115991.716360,148349.042125,2014.0,74.174521
std,8976.159553,8976.159553,33436.738602,16274.622581,14462.172447,10576.829245,45118.216862,54095.231377,0.0,27.047616
min,110534.000000,110535.000000,0.000000,0.000000,0.000000,0.000000,0.000000,70.370000,2014.0,0.035185
25%,114898.000000,114899.000000,66628.500000,2720.220000,2323.910000,29439.590000,85909.280000,113189.710000,2014.0,56.594855
50%,116854.000000,116855.000000,112164.030000,8544.040000,4970.110000,37559.470000,128018.920000,165794.610000,2014.0,82.897305
75%,126083.000000,126084.000000,118898.000000,19177.910000,8134.130000,38833.110000,143432.350000,181759.450000,2014.0,90.879725
max,148561.000000,148562.000000,307450.040000,115346.620000,152037.570000,91302.460000,326716.760000,418019.220000,2014.0,209.009610

In [117]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees



police = police_df['TotalPayBenefits']
sample_mean2 = police.mean()
sample_std2 = police.std()
sample_size2 = len(police)
Population_mean2 = 86000


t_statistic2 = (sample_mean2 - Population_mean2) /(sample_std2 / np.sqrt(sample_size2))



#critical_value = st.t.ppf(0.05, df=len(police)-1)
#critical_value
t_statistic2

50.252984742109916

50.252984742109916

In [118]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
critical_value2 = st.t.ppf(0.05, df=sample_size2-1)
critical_value2

-1.645656004264731

In [119]:
# Method 2: Use the p-value method.
# Your code here:
st.t.cdf(t, df=sample_size2-1)

1.0

In [123]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
stat, pval = ttest_1samp(police, popmean = 86000, alternative = "less") 
print('Ttest_1sampResult(statistic={}, pvalue={})'.format(stat, pval))

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

Ttest_1sampResult(statistic=50.252984742109945, pvalue=1.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [129]:
# Your code here: (Get the department which has most employees)
data7 = data4.copy()
data7['JobTitle'].mode().iloc[0]

'Transit Operator'

'Transit Operator'

In [134]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees
data7 = data7[data7['JobTitle'] == 'Transit Operator' ]
Hourly_Wage2 = data7['Hourly_Wage']
sample_mean3 = Hourly_Wage2.mean()
sample_std3 = Hourly_Wage2.std()
sample_size3 = len(Hourly_Wage2)
Population_mean3 = 35

t_statistic3 = (sample_mean3 - Population_mean3) /(sample_std3 / np.sqrt(sample_size3))
t_statistic3

19.064990324906553

19.06499032490655

In [135]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
critical_value = st.t.ppf(1-0.05, df=sample_size3-1)
print("The critical value is {:.3f}".format(critical_value))

The critical value is 1.645

In [142]:
# Method 2: Use the p-value method.
# Your code here:
p_value =st.t.cdf(t,df=len(Hourly_Wage2)-1)
print("The p-value is {}".format(p_value))

The p-value is 1.0

In [138]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
stat3, pval3 = ttest_1samp(Hourly_Wage2, popmean = 35, alternative = "greater")
print('Ttest_1sampResult(statistic={}, pvalue={})'.format(stat3, pval3))

Ttest_1sampResult(statistic=19.064990324906383, pvalue=5.012771694204206e-76)

Ttest_1sampResult(statistic=19.064990324906383, pvalue=5.012771694204206e-76)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [148]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
data8 = data4.copy()
data8 = data8['Hourly_Wage']
sample_mean4 = data8.mean()
print('Sample mean: ',round(sample_mean4,2))

confidence_level = 0.95
degrees_freedom = len(data8) - 1 

sample_standard_error = st.sem(data8) 

confidence_interval = st.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean4, 
                                             sample_standard_error)
#round
rounded_list = [round(num, 2) for num in confidence_interval]

print('Confidence interval: ', rounded_list)

Sample mean:  50.13
Confidence interval:  [49.8, 50.46]

Sample mean: 50.13
Confidence interval: [49.80,50.46]

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [149]:
# Your code here:
data9 = data4.copy()
data9 = data9[data9['JobTitle'].apply(lambda x: 'Police' in x)]
data9 = data9['Hourly_Wage']
sample_mean5 = data9.mean()
print('Sample mean: ',round(sample_mean5,2))

confidence_level2 = 0.95
degrees_freedom2 = len(data9) - 1 

sample_standard_error2 = st.sem(data9) 

confidence_interval2 = st.t.interval(confidence_level2, 
                                             degrees_freedom2, 
                                             sample_mean5, 
                                             sample_standard_error2)
#round
rounded_list2 = [round(num, 2) for num in confidence_interval2]

print('Confidence interval: ', rounded_list2)

Sample mean:  74.17
Confidence interval:  [72.96, 75.39]

Sample mean: 74.17
Confidence interval: [72.96,75.39]

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [150]:
# Your code here: (Create the function)
def create_employee_group(job_title: str) ->str:
    '''
    This function creates a new category of job groups
    Input: str
    Output: str
    
    '''
    if 'Police' in job_title:
        return 'Policemen'
    elif 'Fire' in job_title:
        return 'Firemen'
    elif 'Med' in job_title or 'Nurse' in job_title:
        return 'Medical'
    elif 'Attorney' in job_title:
        return 'Lawyer'
    else:
        return 'Other'

In [152]:
# Your code here: (Apply the function)
data10 = data4.copy()

data10['employee_group'] = data10['JobTitle'].apply(lambda x:create_employee_group(x))
data10.head()

,index,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Hourly_Wage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.366340,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.826105,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.112180,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.009610,Policemen
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.717550,Firemen

Determine how many "PT" and "FT" employess have all the employees groups.

In [168]:
# Your code here: (Store the output dataframe into a new variable)
data_crosstab = pd.crosstab(data10['employee_group'], data10['Status'], margins = False)
data_crosstab

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Status             FT     PT
employee_group
Firemen          1333    178
Lawyers           317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [167]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
frequencies = pd.DataFrame

In [189]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". 
#Store the solution in a variable named "firemen_ft"
N = len(data10)
firemen_ft = data_crosstab.loc['Firemen',:].sum()/N*data_crosstab.loc[:,'FT'].sum()/N*N
firemen_ft

885.2979878800596

885.2979878800596

In [190]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". 
#Store the solution in a variable named "firemen_pt"
N = len(data10)
firemen_pt = data_crosstab.loc['Firemen',:].sum()/N*data_crosstab.loc[:,'PT'].sum()/N*N
firemen_pt

625.70201211994

625.7020121199403

In [191]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". 
#Store the solution in a variable named "lawyers_ft"
N = len(data10)
lawyers_ft = data_crosstab.iloc[1,:].sum()/N*data_crosstab.loc[:,'FT'].sum()/N*N
lawyers_ft

245.49295626852748

245.49295626852748

In [192]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". 
#Store the solution in a variable named "lawyers_pt"
N = len(data10)
lawyers_pt = data_crosstab.iloc[1,:].sum()/N*data_crosstab.loc[:,'PT'].sum()/N*N
lawyers_pt

173.5070437314725

173.5070437314725

In [193]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". 
#Store the solution in a variable named "medical_ft"
N = len(data10)
medical_ft = data_crosstab.iloc[2,:].sum()/N*data_crosstab.iloc[:,0].sum()/N*N
medical_ft

2294.9783047823917

2294.9783047823917

In [194]:
# Your code here: Compute Expected frequency of being "Medical" and "PT".
#Store the solution in a variable named "medical_pt"
N = len(data10)
medical_pt = data_crosstab.iloc[2,:].sum()/N*data_crosstab.iloc[:,1].sum()/N*N
medical_pt

1622.0216952176079

1622.021695217608

In [195]:
# Your code here: Compute Expected frequency of being "Other" and "FT". 
#Store the solution in a variable named "other_ft"
N = len(data10)
other_ft = data_crosstab.iloc[3,:].sum()/N*data_crosstab.iloc[:,0].sum()/N*N
other_ft

17794.430966184842

17794.430966184842

In [196]:
# Your code here: Compute Expected frequency of being "Other" and "PT". 
#Store the solution in a variable named "other_pt"

N = len(data10)
other_pt = data_crosstab.iloc[3,:].sum()/N*data_crosstab.iloc[:,1].sum()/N*N
other_pt

12576.569033815158

12576.569033815158

In [197]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". 
#Store the solution in a variable named "policemen_ft"
N = len(data10)
policemen_ft = data_crosstab.iloc[4,:].sum()/N*data_crosstab.iloc[:,0].sum()/N*N
policemen_ft

1113.7997848841785

1113.7997848841785

In [198]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". 
#Store the solution in a variable named "policemen_pt"
N = len(data10)
policemen_pt = data_crosstab.iloc[4,:].sum()/N*data_crosstab.iloc[:,1].sum()/N*N
policemen_pt

787.2002151158215

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [200]:
# Your code here:
f_list = {'FT':[firemen_ft, lawyers_ft, medical_ft, other_ft, policemen_ft], 
          'PT':[firemen_pt, lawyers_pt, medical_pt, other_pt, policemen_pt]}

frequencies = frequencies(f_list)
frequencies

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [201]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05
st.chi2_contingency(data_crosstab)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

(2676.642333711905, 0.0, 4, array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function